/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* COLORS */
  --brand-color: #4d5ae5; /* IRIS */
  --dark-color: #2e2f42; /* NAVY BLUE */
  --success-color: #31d0aa; /* GREEN */
  --body-text-color: #434455; /* SLATE */
  --sub-text-color: #8e8f99; /* LIGHT SLATE */
  --accent-color: #e7e9fc; /* CORNFLOWER */
  --light-color: #f4f4fd; /* CLOUD */
  --bgrnd-color: #ffffff; /* WHITE */
  --hero-btn-backgroung: #404bbf;
}

body {
  background-color: var(--bgrnd-color);
  color: var(--body-text-color);
  font-family: var(--primary-font);
  font-size: 16px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-right: 77px;
}
.logo-white {
  color: var(--light-color);
}

.logo-black {
  color: var(--dark-color);
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.link-item-block {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--body-text-color);
}

.menu-link:active {
  color: var(--brand-color);
}

.contact-email,
.contact-phone {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.contact-email:hover,
.contact-email:focus {
  color: var(--brand-color);
}

.contact-phone:hover,
.contact-phone:focus {
  color: var(--brand-color);
}

.hero {
  background-color: var(--dark-color);
  padding-top: 192px;
  padding-bottom: 192px;
  text-align: center;
}
.hero-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--bgrnd-color);
  text-align: center;
  margin: auto;
  width: 500px;
}

.hero-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--bgrnd-color);
  background-color: var(--brand-color);
  font-family: var(--primary-font);
  margin-top: 48px;
  min-width: 170px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--brand-color);
}

.hero-btn:active {
  background-color: var(--hero-btn-backgroung);
}

.strategy-list {
  display: flex;
  column-gap: 24px;
}
.strategy {
  padding-top: 120px;
}

.section {
  padding-bottom: 120px;
}
.strategy-item {
  flex-basis: calc((100% - (3 * 24px)) / 4);
}

.strategy-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.strategy-text {
  font-weight: 500;
  line-height: 1.5;
  color: var(--body-text-color);
}

.work-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
  flex-wrap: wrap;
}

.work-item {
  flex-basis: calc((100% - (2 * 24px)) / 3);
}

.work-header,
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team {
  background-color: var(--light-color);
  padding-top: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
}

.team-item {
  background-color: var(--bgrnd-color);
  text-align: center;
  padding-top: 32px 16px;
}

.team-img-descr {
  padding: 32px 16px;
}

.descr-footer {
  color: var(--accent-color);
  width: 264px;
  margin-top: 16px;
}

.page-footer {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--accent-color);
  border: none;
  font-family: var(--primary-font);
  padding: 8px 16px;
  border-radius: 4px;
}

.menu-btn:hover,
.menu-btn:focus {
  color: var(--bgrnd-color);
  background-color: var(--brand-color);
}

.portfolio-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}

.our-work {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px 24px;
}

.portfolio-card {
  flex-basis: calc((100% - (2 * 24px)) / 3);
}

.portfolio-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 0.5px solid;
  border-color: var(--light-color);
  border-top: none;
}
